::-webkit-scrollbar{height:6px;}
.side-section-scroll, #console-scroll, #stats-scroll{padding-top:30px !important;}
#consoleDiv, #statsDiv {display:flex !important; flex-direction:column !important;}

.tab-text {
    padding: 0 6px;
}
.sprint-popup-label {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: min-content;
    margin: 10px 0;
}
.sprint-popup-label > input {
    margin: 0;
    margin-right: 10px;
}
.sprint-popup-hidden {
    display: none;
}
.sprint-dropdown {
    border: 1px solid black;
    margin-right: 10px;;
}
.sprint-break {
    margin-top: 20px;
    margin-bottom: 30px;
}
.tab-menu {
    display: flex;
    position: absolute;
    z-index: 2;
    width: calc(100% - 10px);
    overflow: hidden;
    /* scrollbar-width: thin; */
    padding-right: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}
.tab-menu-item {
    padding: 7px 5px 0 5px;
    color: #888;
    min-width: max-content;
    user-select: none;
}

.tab-selected {
    color: inherit;
    text-decoration: underline;
}
.center-vert {
    padding-top: 2px;
    
}
.sprint-info {
    min-height: 50%;
    width: 100%;
    border-top: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}
#consoleDiv > .sprint-info > input {
    width: 45%;
}
.supplies-infotitle {
    margin-bottom: 10px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.supplies-infodesc {
    font-size: 14px;
    margin: 0 auto 10px;
}
.supplies-box-icon.sprint-faded {
    opacity: 0.5;
} 
.sprint-window {
    position: absolute;
    background-color: blue;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}
.sprint-window-handle {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid black;
}
input.sprint-window-close {
    position: absolute;
    /* background-color: rgb(255, 106, 106); */
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    line-height: 20px;
    border: none;
}
.sprint-window-close:hover {
    cursor: pointer;
}
.sprint-window-body {
    flex-grow: 1;
    width: 100%;
}
.sprint-window-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20px;
    width:20px;
}
.sprint-window-resize:hover {
    cursor: nwse-resize;
}